// main.scss

.main {
    display: flex;
    
    &__sidebar {
        width: 0;
        height: 100vh;
        background-color: #e74c3c;
        transition: width 300ms ease-out;
        
        &.active {
          width: 200px;
          box-shadow: 2px 5px 5px 5px grey;
        }
      
        &__wrapper {
          min-width: 200px;

          &__link {
            display: flex;
            font-size: 20px;
            align-items: center;
            justify-content: center;
            padding: 20px;
            color: white;
        
            &:hover {
              opacity: 0.5;
            }
          }
        }
    }

    &__content {
      width: calc(100% - 200px);
      transition: width 300ms ease-out;

      &--widthFull {
        width: 100%;
      }

      &__filters {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    }
}

