// btn.scss

button {
    padding: 0 24px;
    border: 1px solid rgb(196, 195, 195);
    cursor: pointer;
}

.btn--transparent {
    background-color: transparent;
    cursor: pointer;
    width: 140px;

    &:hover {
        opacity: 0.7;
    }
}
