@import './icons.scss';
@import './task.scss';
@import './header.scss';
@import './subHeader.scss';

a {
  text-decoration: none;
}

h1 {
  font-size: 200px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

.section-container {
  display: flex;
}

.sidebar {
  width: 0;
  height: 100vh;
  background-color: #e74c3c;
  transition: width 300ms ease-out;
  border-right: 2px solid #2c3e50;
  
  &.active {
    width: 200px;
  }

  &__wrapper {
    min-width: 200px;
  }
}

.sidebar .sideLinks {
  display: flex;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: white;
}

.sidebar .sideLinks:hover {
  color: rgb(63, 63, 63);
}

.todoList {
  width: calc(100% - 200px);
  transition: width 300ms ease-out;
}

#spanTask {
  width: 400px;
  height: 50px;
  border: 1px solid grey;
  color: black;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(196, 195, 195);
  border-right: none;
  border-left: none;
  font-weight: 700;
}

.inactive {
  width: 0px;
}

.inactive a {
  display: none;
}

.sidebar-inactive {
  width: 100%;
}


.checked {
  text-decoration: line-through;
}
