@import './icons.scss';
@import './task.scss';

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

.nav {
  background-color: rgb(0, 22, 44);
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
}

.nav .links {
  flex: 70%;
}

.nav .links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 12px;
}

.nav .links a:hover {
  color: rgb(124, 124, 124);
}

.nav .hamburger-menu {
  margin-right: 20px;
  cursor: pointer;
  padding: 0 5px;
}

.nav .hamburger-menu:hover {
  background-color: rgb(124, 124, 124);
}


.nav .hamburger-menu div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
}


.header {
  display: flex;
  width: 100%;
  background-color: #00203FFF;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.header button {
  height: 42px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

.header button:hover {
  background-color: rgb(219, 219, 219);
  transition: .3s;
}

.section-container {
  display: flex;
}

.sidebar {
  width: 0;
  height: 100vh;
  background-color: tomato;
  transition: width 300ms ease-out;
  &.active {
    width: 200px;
  }

  &__wrapper {
    min-width: 200px;
  }
}

.sidebar a {
  display: flex;
  font-size: 20px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  color: white;
}

.sidebar a:hover {
  color: rgb(124, 124, 124);
}

.todoList {
  width: calc(100% - 200px);
  transition: width 300ms ease-out;
}

span {
  width: 400px;
  height: 50px;
  border: 1px solid grey;
  color: black;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(196, 195, 195);
  border-right: none;
  border-left: none;
  font-weight: 700;
}

.inactive {
  width: 0px;
}

.inactive a {
  display: none;
}

.sidebar-inactive {
  width: 100%;
}


.checked {
  text-decoration: line-through;
}
